.bg-clear {
    background-image: url("assets/clear.jpg");
}

.bg-clouds {
    background-image: url("assets/cloudy.jpg");
}

.bg-drizzle {
    background-image: url("assets/drizzle.jpg");
}

.bg-rain {
    background-image: url("assets/rain.jpg");
}

.bg-snow {
    background-image: url("assets/snow.jpg");
}

.bg-thunderstorm {
    background-image: url("assets/thunderstorm.jpg");
}

.bg-weatherLast {
    background-image: url("assets/weatherLast.jpg");
}

.bg-clear,
.bg-clouds,
.bg-drizzle,
.bg-rain,
.bg-snow,
.bg-thunderstorm,
.bg-weatherLast {
    background-size: cover;
}